<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <!--begin RabbitMq配置 TEST-->
    <!--MQ的地址-->
    <add key="MqHost" value="192.168.21.199"/>
    <!--MQ的用户名-->
    <add key="MqUserName" value="rootsa"/>
    <!--MQ的密码-->
    <add key="MqPassword" value="rootsa"/>
    <!--MqVirtualHost-->
    <add key="MqVirtualHost" value="OrderQueue" />
    <!--对应于当前项目的路由名称，默认监听的路由-->
    <add key="MqExchangeName" value="mq.prchase"/>
    <!--对应于当前项目的队列名称，默认监听的队列-->
    <add key="MqListenQueueName" value="mq.prchase"/>
    <!--end RabbitMq配置-->
  </appSettings>
</configuration>